body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ffffff;
    /* default background color */
    color: #000000;
    /* default text color */
}

.dark-mode body {
    background-color: #000000;
    /* dark mode background color */
    color: #ffffff;
    /* dark mode text color */
}

h1 {
    color: inherit;
    font-size: 28px;
}

p {
    color: inherit;
}

nav {
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
}

nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 18px;
    text-transform: uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 14px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(0, 242, 255);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
}

.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

.dark-mode h1 {
    color: inherit;
}

.dark-mode p {
    color: inherit;
}

.dark-mode nav {
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
}

.dark-mode nav ul {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.dark-mode nav ul li a {
    color: rgba(0, 35, 122, 0.5);
}

.dark-mode nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(0, 242, 255);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
}

/* Media Queries */

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {

    /* Adjustments for body, nav, or any other elements */
    body {
        margin: 10px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

/* Additional media queries for different screen sizes or device types */
.form_group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
}

.form_field {
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 16px;
    color: #000000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form_field::placeholder {
    color: transparent;
}

.form_field:placeholder-shown~.form_label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.form_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.form_field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
}

.form_field:focus~.form_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
}

.form_field:required,
.form_field:invalid {
    box-shadow: none;
}

.footer {
    padding: 70px 0;
    background-color: #ffffff;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul a:hover {
    opacity: 1;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}

nav {
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
}

nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 18px;
    text-transform: uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 14px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(0, 242, 255);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}